@import "../../style/reset";
@import "../../style/media";
// @import "../../style/animate";

body{
	background: #fdfdfd;
	color: #6e6e6e;
	font-size: 1.23rem;
}

@function torem($px){
	@return $px / 22 * 1rem;
}

.wrap{
	padding-top: torem(40);
}
h2{
	color: #474747;
	font-weight: normal;
	font-size: 1.5rem;
}
.text-center{
	text-align: center;
}
.title{
	line-height: 2rem;
}
.time{
	color: #428fe5;
	font-size: 2rem;
}

.middle{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-55%);
	   -moz-transform: translateY(-55%);
	    -ms-transform: translateY(-55%);
	     -o-transform: translateY(-55%);
	        transform: translateY(-55%);
}

.avatar{
	width: torem(120);
	height: torem(120);
	border-radius: 50%;
	overflow: hidden;
}

.one{
	padding: torem(40) 0;
	
	width: 65%;
	margin: torem(90) auto;
	background: #fff;
	border-radius: .4rem;
	box-shadow: 0 0 30px rgba(0,0,0, .2);

	.name{
		padding: 1rem 0;
	}
	.btn{
		margin-top: 1rem;
		display: inline-block;
		border-radius: .3rem;
		padding: .8rem 1.3rem;
		background: #428fe5;
		color: #fff;
	}
}


//多个公众号列表
.list{
	margin-top: 1rem;
	border-top: 4px #428fe5 solid;
	.title{
		padding-left: 6px;
		border-left: 4px #428fe5 solid;
		margin: 1rem 1.5rem;
	}
	ul{
		border-top: 1px solid #d0d0d0;
	}
	li{
		position: relative;
		padding: .5rem 1.5rem;
		border-bottom: 1px solid #d0d0d0;
	}
	.avatar{
		float: left;
		margin-right: 1rem;
	}
	.name{
		padding: 1.2rem 0 .5rem;
	}
	.btn{
		position: absolute;
		right: 1.5rem;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		display: inline-block;
		border-radius: .3rem;
		padding: .8rem 1.3rem;
		background: #428fe5;
		color: #fff;
	}
}

.invalid{
	ul{
		opacity: .35;
	}
}


